{% extends 'partials/modal.html' %}

{% block modal_content %}
    <div class="share-wrapper">
        <h2 class="share-title text-rage">Share this on...</h2>
        <div class="share-buttons flex flex-row items-center justify-center mx-auto">
            <span
                id="shareFacebook"
                class="share-link-button share-facebook round-button"
                title="Share on Facebook"
                data-id="{{ awesomelink.pk }}"
                data-type="facebook"
            >
                {% include 'partials/icons/facebook.html' %}
            </span>
            <span
                id="shareTwitter"
                class="share-link-button share-twitter round-button"
                title="Share on Twitter"
                data-id="{{ awesomelink.pk }}"
                data-type="twitter"
            >
                {% include 'partials/icons/twitter.html' %}
            </span>
            <span
                id="shareLinkedIn"
                class="share-link-button share-linkedin round-button"
                title="Share on LinkedIn"
                data-id="{{ awesomelink.pk }}"
                data-type="linkedin"
            >
                {% include 'partials/icons/linkedin.html' %}
            </span>
            <span
                id="shareReddit"
                class="share-link-button share-reddit round-button stacked"
                title="Share on Reddit"
                data-id="{{ awesomelink.pk }}"
                data-type="reddit"
            >
                {% include 'partials/icons/reddit.html' %}
            </span>
            <span
                id="shareLink"
                class="share-link-button share-link round-button stacked"
                title="Copy to clipboard"
                data-id="{{ awesomelink.pk }}"
                data-type="link"
            >
                {% include 'partials/icons/link.html' %}
                {% include 'partials/icons/link-outline.html' %}
            </span>
        </div>
    </div>
{% endblock %}