{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if awesomelink %}
    <div class="frame-wrapper">
        <iframe
            title="AwesomeLink"
            width="100%"
            height="100%"
            scrolling="auto"
            allowfullscreen="true"
            sandbox="allow-forms allow-modals allow-same-origin allow-scripts"
            src="{{ awesomelink.url }}"
        ></iframe>
        <div id="overlayToggle" class="overlay-toggle flex items-center justify-center">
            <div id="overlayToggle" class="overlay-toggle-wrapper flex items-center justify-center">
                <img class="overlay-toggle-img" src="{% static 'img/logo.png' %}" alt="AwesomeLink" />
                <span class="overlay-toggle-arrow"></span>
            </div>
        </div>
        <div id="overlay" class="overlay flex flex-row">
            <div class="overlay-wrapper flex">
                <div class="overlay-img-wrapper">
                    <a
                        href="https://awesomelink.netlify.com"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img class="overlay-img" src="{% static 'img/awesomelink.png' %}" alt="AwesomeLink" />
                    </a>
                </div>
                <div class="overlay-details flex flex-col justify-center">
                    <span class="url-field">
                        <strong class="detail-field text-rage">URL:</strong>
                        <a class="detail-value" href="{{ awesomelink.url }}">
                            {{ awesomelink.normalized_url }}
                        </a>
                    </span>
                    {% if awesomelink.rating_count %}
                        <span class="flex items-center rating-field">
                            <strong class="detail-field text-rage">Rating:</strong>
                                <div
                                    id="ratingStars"
                                    class="inline-stars"
                                    data-value="{{ awesomelink.rating }}"
                                >
                                    <span
                                        id="starRating1"
                                        class="star-rating"
                                        title="Not impressed"
                                        data-value="1"
                                    ></span>
                                    <span
                                        id="starRating2"
                                        class="star-rating"
                                        title="Meh"
                                        data-value="2"
                                    ></span>
                                    <span
                                        id="starRating3"
                                        class="star-rating"
                                        title="Pretty cool"
                                        data-value="3"
                                    ></span>
                                    <span
                                        id="starRating4"
                                        class="star-rating"
                                        title="Very cool"
                                        data-value="4"
                                    ></span>
                                    <span
                                        id="starRating5"
                                        class="star-rating"
                                        title="Awesome!"
                                        data-value="5"
                                    ></span>
                                </div>
                                <span class="rating-count">
                                    (<span class="rating-count-value">{{ awesomelink.rating_count }}</span>)
                                </span>
                        </span>
                    {% endif %}
                    <span class="clicks-field">
                        <strong class="detail-field text-rage">Clicks:</strong>
                        <span class="detail-value">
                            {{ awesomelink.clicks }}
                        </span>
                    </span>
                </div>
                <div class="button-wrapper flex justify-center">
                    <div id="rateBtn" class="rate-button round-button stacked">
                        {% block star %}
                            {% include "partials/icons/star.html" %}
                            {% include "partials/icons/star-outline.html" %}
                        {% endblock %}
                    </div>
                    <div id="shareBtn" class="share-button round-button stacked">
                        {% block share %}
                            {% include "partials/icons/share.html" %}
                            {% include "partials/icons/share-outline.html" %}
                        {% endblock %}
                    </div>
                    <a
                        class="share-button link-button round-button stacked"
                        href="{{ awesomelink.url }}"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        {% block link %}
                            {% include "partials/icons/link-outline.html" %}
                        {% endblock %}
                    </a>
                    <div id="refreshBtn" class="refresh-button round-button">
                        {% block refresh %}
                            {% include "partials/icons/refresh.html" %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/rate-modal.html" with modalId="rateModal" %}
    {% include "partials/share-modal.html" with modalId="shareModal" awesomelink=awesomelink %}
{% else %}
    <p>This AwesomeLink doesn't exist</p>
{% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>
{% endblock scripts %}